.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-container .wrapper {
  max-width: 700px;
}
#closeerIconDark {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px 14px 0 0;
}
@media screen and (max-width: 768px){
  .main-container{
    margin-top: 42px;
    max-width: none;
  }
  #closeerIconDark {
    display: none;
  }
}